@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
        

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(243, 243, 243);
    width: 250px;
}

li {
    font-family: 'poppins', sans-serif;
    padding: 8px;
    cursor: pointer;
}

li:hover{background-color: rgb(72, 153, 72);
        color: white;
        cursor: pointer;
}
